@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
body{
  background-color: white;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
*{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}


header{
  width: 100%;
  z-index: 1;
 
  
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  height: 60px;
  align-items: center;
  background-color: white;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  position: sticky;
  top: 0;

}
header h1{
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
header h1::first-letter{
  color: #059669;
}
header nav{
  width: 170px;
  display: flex;
  justify-content: space-between;

}
header nav a {
  color: black;  font-size: 17px;
  font-weight: 600;
  
}
header nav a:hover{
  
  color: rgb(58, 58, 58);
}
.firstHomeSection{

 
  width: 80%;
  margin: auto;
  margin-top: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./components/images/b1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 15px;
color: darkgray;
transition: 200ms;

}

.secondHomeSection {
  width: 80%;
margin: auto;

 
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  

}
.secondHomeSection .main{
  display: grid;
  grid-template-columns: 1fr 1fr ; 
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
  margin-bottom: 10px;

}
.secondHomeSection  {
  margin-bottom: 20px;
  margin-top: 40px;

}
.secondHomeSection .main  .div{
  background-color: white;
  border-radius: 8px;
  height: 200px;
  padding: 0px 15px;
  overflow-y: scroll;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  
  
}
.secondHomeSection .main  .div::-webkit-scrollbar{
  display: none;
}
.secondHomeSection .main  div .spans{
  width: 100%;
  padding: 4px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secondHomeSection .main  div .spans span{
  background-color: #F3F4F6;
  padding: 3px 10px;
  text-transform: lowercase !important;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(38, 38, 38);
}
.secondHomeSection .title{
  font-family:'Lucida Handwriting';
  margin-top: 20px;
  margin-bottom: 30px;
}
.secondHomeSection .main  div .spans i{
  color: rgb(58, 58, 58);
  font-size: 20px;
  cursor: pointer;

}.secondHomeSection .main  div .spans i:hover{
  transform: scale(1.1);
}

/* .secondHomeSection .main  div ul{
  color: rgb(38, 38, 38);
  text-transform: capitalize;
  letter-spacing: 0.70px;

} */
.secondHomeSection .adder:hover{
  color: blue;
  cursor: pointer;
}

.secondHomeSection .turnedInfo{
  width: 80%;
  
  margin-bottom: 10px;
  background-color: white;
  min-height: calc(100vh - 170px - 60px);
  
  

}
.secondHomeSection .turnedInfo .div{
  background-color: white;
  border-radius: 8px;
  

  overflow-y: scroll;
  padding: 5px 20px;
 
  

}
.secondHomeSection .turnedInfo  .div::-webkit-scrollbar{
  display: none;
}
.secondHomeSection .turnedInfo  div .spans{
  width: 100%;
  padding: 4px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secondHomeSection .turnedInfo  div .spans span{
  background-color: #F3F4F6;
  padding: 3px 10px;
  text-transform: lowercase !important;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(38, 38, 38);
}
.secondHomeSection .title{
  font-family:'Lucida Handwriting';
  margin-top: 20px;
  margin-bottom: 30px;
}
.secondHomeSection .turnedInfo  div .spans i{
  color: rgb(58, 58, 58);
  font-size: 20px;
  cursor: pointer;
  

}.secondHomeSection .turnedInfo  div .spans i:hover{
  transition:1s;
  transform: scale(1.1);
}
.secondHomeSection  .turnedInfo .participants{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr; 
  column-gap: 15px;
  row-gap: 15px;
  padding: 10px 20px;
}

.secondHomeSection .turnedInfo .participants .participant{
  height: 130px;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondHomeSection .turnedInfo .participants .participant h1{
  font-size: 14px;
  font-weight: 600;
}
.secondHomeSection .turnedInfo .makeParticipation{

  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  
}
.secondHomeSection .turnedInfo .makeParticipation form{
  width: 300px;
  display: flex;
  justify-content: space-between;
  
}
/* .secondHomeSection .turnedInfo .makeParticipation form select{
  text-transform: capitalize;
  width: 60%;

}
.secondHomeSection .turnedInfo .makeParticipation form select:focus{
  box-shadow: none;
  border-color: rgb(236, 201, 2);
} */
.secondHomeSection .turnedInfo .makeParticipation form button{
  /*border: 1px solid rgb(236, 201, 2);*/
 
  width: 45%;
  margin-left: 8px;
}
.secondHomeSection .mainProfile {
  width: 100%;
  background-color: white;
  
 
  
}
.secondHomeSection .mainProfile .profileNav{
  width: 100%;
  height: 50px;
 
  display: flex;
}
.secondHomeSection .mainProfile .profileNav div{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: darkgray;
  transition: 200ms;
}
.secondHomeSection .mainProfile .profileNav div:hover  {
  background-color: rgb(231, 231, 231); /* Change this to your desired background color */
  color: black;
}

.secondHomeSection .mainProfile .profileNav div h2{
  text-transform: capitalize;
  font-size: 20px;
  
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.secondHomeSection .mainProfile .profileNav div:first-child h2{
  color: black;
}
.secondHomeSection .mainProfile .profileNav div:first-child{
  background-color: rgb(231, 231, 231);
}

.secondHomeSection .mainProfile .profileContent{
  padding: 0px 10px;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;}

.table th,
.table td {
    width: 20%;
    vertical-align:center;

}
.table td .btn{
  background-color: #059669;
  font-weight: 600;
}
.table tr{
  height: 60px;
  display: flex;
  align-items: center;
  
  
}

.table thead {
    border-top: 2px solid rgb(234, 234, 234);
    border-bottom: 2px solid rgb(234, 234, 234);
}
.secondHomeSection .mainProfile .profileContent::-webkit-scrollbar{
  display: none;
}
.about{
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* position: fixed;
  inset: 0; */

}
.about .div{
  width: 50%;

}
.about .div h1{
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.about .div p{
  font-size: 1.5rem ;
  text-align: center;
  text-transform: capitalize;

}
.about .div .smallTags{
  width: 100%;
  display: flex;
  justify-content: center;

}
.about .div .smallTags .tag{
  height: 70px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
}.about .div .smallTags .tag:first-child{
  background-color: #0FA1A5;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  transition: 200ms;
}.about .div .smallTags .tag:first-child:hover{
  background-color: #217075;
}
.about .div .smallTags .tag:nth-child(2){
  background-color: #EDF2F7;
  color: black;
  cursor: pointer;
  margin-left: 5px;

}
.capitalize-first::first-letter{
  text-transform: uppercase;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}


@media(max-width:1220px){
  .secondHomeSection .main{

    grid-template-columns: 1fr 1fr;
  }

}
@media(max-width:1100px){
  .secondHomeSection .main{

    grid-template-columns: 1fr ;
  }
  .about .div{
    width: 80%;
  }

}
@media(max-width:720px){
  header{
    padding: 10px 10px;
  }
  .topheader{
    display: none;
  }
}

  @media(max-width:640px){
   
    .about{
      height: calc(100vh - 140px);
    }
    .about .div{
      width: 98%;
    }
    .about .div h1{
      font-size: 3rem;
    }
    .about .div p{
      font-size: 1.1rem;
    }
    .about .div .smallTags .tag:nth-child(2){
      display: none;
      
    }
    .firstHomeSection{
      width: 95%;
      
    }
    .secondHomeSection{
      width: 95%;
    }
    .secondHomeSection .main  .div{
      height: 220px;
    }
    .secondHomeSection .turnedInfo{
      width: 95%;
    }
    .secondHomeSection  .turnedInfo .participants{
      grid-template-columns: 1fr 1fr;
    }
    
  
}
@media(max-width:500px){
 
  .secondHomeSection .main{
    width: 100%;

    
  }
  .secondHomeSection .main  div .spans div{
    display: flex;
    flex-wrap: wrap;
  }
  .secondHomeSection .main  div .spans div span{
    margin-top: 3px;
  }
  .secondHomeSection .main  .div{
    height: 240px;
  }
  

}
